<a href="https://colab.research.google.com/github/Simarjit1303/Python-for-data-science-/blob/main/Python_DS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
st = "Michael is a good example: Michael Jordan was a very good basketball player. Howver, he is retired now"
len(st.split(" "))

18

In [2]:
name = "Sai Pawan"
message  = f"The name of the student is {name}"
print(message)

The name of the student is Sai Pawan

In [3]:
name = "Gisma"
message  = f"The name of the university is {name}"
print(message)

The name of the university is Gisma

In [4]:
First_name = "Simarjit"
Last_name = "Singh"
print(f"My name is {First_name} and my surname is {Last_name}")

My name is Simarjit and my surname is Singh

In [5]:
lst = [23, 2, 4, 5, 7, 23, 1, 3, 24, 6, 7, 8, 2, 4, 5, 100]
print(list(set(lst)))

[1, 2, 3, 4, 5, 6, 7, 8, 100, 23, 24]

In [6]:
x = 12
y = 33
if x < y and y % 2 != 0:
  print("Yes")
else:
  print("No")

Yes

In [7]:
x,y = 12,33
status =  "Positive" if x < y and y % 2 != 0 else "Negative"

# Iterative Statements

In [8]:
# While loop
x = int(input("Enter a number: "))

while x>0:
  print(' * '*x)
  x -= 1

Enter a number: 5
 *  *  *  *  *
 *  *  *  *
 *  *  *
 *  *
 *

In [9]:
# While loop
n = int(input("Enter a number: "))

x = 1
while x < n:
  print('*'*x)
  x += 1

Enter a number: 5
*
**
***
****

#for loop

In [10]:
# for loop
for i in [1,2,3]:
  print(i)

1
2
3

In [11]:
[*range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [12]:
for i in range(1,10):
  print(i)

1
2
3
4
5
6
7
8
9

In [13]:
for i in range(1,11, 3):
  print(i)

1
4
7
10

In [14]:
for i in range(10, 0, -3):
  print(i)

10
7
4
1

In [15]:
x = int(input("Enter number: "))
for i in range(x):
  print("*"*x)
  x -= 1

Enter number: 5
*****
****
***
**
*

In [16]:
x = int(input("Enter number: "))
for i in range(x+1):
  print("*"*i)

Enter number: 5

*
**
***
****
*****

# Break

In [17]:
for i in range(1,11):
  if i == 5:
    break
  print(i)

1
2
3
4

# Continue

In [18]:
for i in range(1,11):
  if i == 5:
    continue
  print(i)

1
2
3
4
6
7
8
9
10

# Pass

In [19]:
n = int(input("Enter nuber"))
while n != 0:
  factorial = 1
  factorial_expression = "1"
  for i in range(2, n+1):
    factorial *= i
    factorial_expression += f"*{i}"
  print(f"{n}! = {factorial_expression}!")
  n -= 1
else:
  print("0! = 1")

Enter nuber5
5! = 1*2*3*4*5!
4! = 1*2*3*4!
3! = 1*2*3!
2! = 1*2!
1! = 1!
0! = 1

In [20]:
n = int(input("Enter nuber"))

factorial = 1
factorial_expression = "1"
print(f"0! = 1")
for i in range(1, n+1):
  factorial *= i
  factorial_expression = "1"
  for j in range(2, i+1):
    factorial_expression += f"*{j}"
  print(f"{i}! = {factorial_expression}!")

Enter nuber5
0! = 1
1! = 1!
2! = 1*2!
3! = 1*2*3!
4! = 1*2*3*4!
5! = 1*2*3*4*5!

Q . Develop a Python program to give the index of Fibonacci Sequence from user and print the sequence from beginning to the given index.

In [21]:
id = int(input("Enter the index: "))
print(f"The fibonacci series of the given index {id} is:")
# Check if input is 0 then it will print incorrect input
if id < 0:
  print("Incorrect input")
# Check if n is 0 then it will print 0
elif id == 0:
  print(0)
# Check if n is 1,2 it will print 1
elif id == 1 or id == 2:
  print(1)
else:
    n1,n2 = 0,1
    print(n1, n2, end=" ") # Print initial terms
    for i in range(2, id+1):
      temp = n1 + n2
      print(temp, end=" ")
      # At last, we will update values
      n1,n2 = n2, temp

Enter the index: 5
The fibonacci series of the given index 5 is:
0 1 1 2 3 5

In [22]:
# using lists
id = int(input("Enter the index: "))
print(f"The fibonacci series of the given index {id} is:")

# Initialize an empty list to store the Fibonacci sequence
fib_sequence = []

# if input is 0 then it will print incorrect input
if id < 0:
    print("Incorrect input")
# if n is 0 then it will print 0
elif id == 0:
    fib_sequence.append(0)
elif id == 1:
    fib_sequence.extend([0, 1])  # Extend the list with 0 and 1
elif id == 2:
    fib_sequence.extend([0, 1, 1])  # Extend the list with 0, 1 and 1
else:
    fib_sequence.extend([0, 1])  # Extend the list with 0 and 1
    n1, n2 = 0, 1
    for i in range(2, id + 1):
        temp = n1 + n2
        fib_sequence.append(temp)  # Append the new Fibonacci number to the list
        n1, n2 = n2, temp

# Print the elements of the list
print(*fib_sequence)  # Use * to unpack the list elements for printing

Enter the index: 5
The fibonacci series of the given index 5 is:
0 1 1 2 3 5

In [23]:
n = int(input("Enter the index: "))
fib_lst = [0,1]
if n < 0:
  print("Incorrect input")
elif n == 0:
  print(0)
elif n == 1:
  print(1)
elif n >= 2:
  for i in range(2, n+1):
    fib_lst.append(fib_lst[i-1] + fib_lst[i-2])
  print(f"The fibonacci series of the given index {n} is: {fib_lst}")

Enter the index: 5
The fibonacci series of the given index 5 is: [0, 1, 1, 2, 3, 5]

In [25]:
# Creating fib for function
def fact(n):
  factorial = 1
  factorial_expression = "1"
  print(f"0! = 1")
  for i in range(1, n+1):
    factorial *= i
    factorial_expression = "1"
    for j in range(2, i+1):
      factorial_expression += f"*{j}"
    print(f"{i}! = {factorial_expression}!")

fact(n = int(input("Enter number")))

Enter number5
0! = 1
1! = 1!
2! = 1*2!
3! = 1*2*3!
4! = 1*2*3*4!
5! = 1*2*3*4*5!

In [46]:
def fact(n):
    """
    In this function, we are going to implement the factorial function
    input  : int(n)
    output : int(n! = n * (n-1) * (n-2) * ... * 2 * 1 )
    """
    if n < 0:
      return None
    elif n == 0:
      return 0
    elif n == 1:
      return 1
    elif n >= 2:
      f = 1
      for i in range(2, n+1):
        f *= i
      return (f"The Fibonacci series of the given number {n} is: {f}")


print(fact(n = int(input("Enter number- "))))

Enter number- 6
720

In [37]:
def fib(n):
    if n < 0:
      return None
    elif n == 0:
      return 0
    elif n == 1:
      return 1
    elif n >= 2:
      fib_lst = [0,1]
      for i in range(2, n+1):
        fib_lst.append(fib_lst[i-1] + fib_lst[i-2])
      return (f"The Fibonacci series of the given index {n} is: {fib_lst}")


print(fib(n = int(input("Enter number- "))))

Enter number- 5
The Fibonacci series of the given index 5 is: [0, 1, 1, 2, 3, 5]

In [11]:
from math import sqrt
def S(x,n):
  if n == 1:
    return sqrt(x)
  else:
    return sqrt(x * S(x, n-1))


S(x=3, n=100)

2.9999999999999996