<a href="https://colab.research.google.com/github/Simarjit1303/Python-for-data-science-/blob/main/Python_DS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
st = "Michael is a good example: Michael Jordan was a very good basketball player. Howver, he is retired now"
len(st.split(" "))

18

In [ ]:
name = "Sai Pawan"
message  = f"The name of the student is {name}"
print(message)

The name of the student is Sai Pawan

In [ ]:
name = "Gisma"
message  = f"The name of the university is {name}"
print(message)

The name of the university is Gisma

In [ ]:
First_name = "Simarjit"
Last_name = "Singh"
print(f"My name is {First_name} and my surname is {Last_name}")

My name is Simarjit and my surname is Singh

In [ ]:
lst = [23, 2, 4, 5, 7, 23, 1, 3, 24, 6, 7, 8, 2, 4, 5, 100]
print(list(set(lst)))

[1, 2, 3, 4, 5, 6, 7, 8, 100, 23, 24]

In [ ]:
x = 12
y = 33
if x < y and y % 2 != 0:
  print("Yes")
else:
  print("No")

Yes

In [ ]:
x,y = 12,33
status =  "Positive" if x < y and y % 2 != 0 else "Negative"

yes

# Iterative Statements

In [17]:
# While loop
x = int(input("Enter a number: "))

while x>0:
  print(' * '*x)
  x -= 1

Enter a number: 4
 *  *  *  *
 *  *  *
 *  *
 *

In [2]:
# While loop
n = int(input("Enter a number: "))

x = 1
while x < n:
  print('*'*x)
  x += 1

Enter a number: 18
*
**
***
****
*****
******
*******
********
*********
**********
***********
************
*************
**************
***************
****************
*****************
******************

#for loop

In [ ]:
# for loop
for i in [1,2,3]:
  print(i)

In [18]:
[*range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [21]:
for i in range(1,10):
  print(i)

1
2
3
4
5
6
7
8
9

In [23]:
for i in range(1,11, 3):
  print(i)

1
4
7
10

In [25]:
for i in range(10, 0, -3):
  print(i)

10
7
4
1

In [27]:
x = int(input("Enter number: "))
for i in range(x):
  print("*"*x)
  x -= 1

Enter number: 6
******
*****
****
***
**
*

In [33]:
x = int(input("Enter number: "))
for i in range(x+1):
  print("*"*i)

Enter number: 6

*
**
***
****
*****
******

# Break

In [34]:
for i in range(1,11):
  if i == 5:
    break
  print(i)

1
2
3
4

# Continue

In [35]:
for i in range(1,11):
  if i == 5:
    continue
  print(i)

1
2
3
4
6
7
8
9
10

# Pass

In [54]:
n = int(input("Enter nuber"))
while n != 0:
  factorial = 1
  factorial_expression = "1"
  for i in range(2, n+1):
    factorial *= i
    factorial_expression += f"*{i}"
  print(f"{n}! = {factorial_expression}!")
  n -= 1
else:
  print("0! = 1")

Enter nuber5
5! = 1*2*3*4*5!
4! = 1*2*3*4!
3! = 1*2*3!
2! = 1*2!
1! = 1!
0! = 1

In [57]:
n = int(input("Enter nuber"))

factorial = 1
factorial_expression = "1"
print(f"0! = 1")
for i in range(1, n+1):
  factorial *= i
  factorial_expression = "1"
  for j in range(2, i+1):
    factorial_expression += f"*{j}"
  print(f"{i}! = {factorial_expression}!")

Enter nuber5
0! = 1
1! = 1!
2! = 1*2!
3! = 1*2*3!
4! = 1*2*3*4!
5! = 1*2*3*4*5!

Q . Develop a Python program to give the index of Fibonacci Sequence from user and print the sequence from beginning to the given index.

In [67]:
id = int(input("Enter the index: "))
print(f"The fibonacci series of the given index {id} is:")
# Check if input is 0 then it will print incorrect input
if id < 0:
  print("Incorrect input")
# Check if n is 0 then it will print 0
elif id == 0:
  print(0)
# Check if n is 1,2 it will print 1
elif id == 1 or id == 2:
  print(1)
else:
    n1,n2 = 0,1
    print(n1, n2, end=" ") # Print initial terms
    for i in range(2, id+1):
      temp = n1 + n2
      print(temp, end=" ")
      # At last, we will update values
      n1,n2 = n2, temp

Enter the index: 6
The fibonacci series of the given index 6 is:
0 1 1 2 3 5 8

In [69]:
# using lists
id = int(input("Enter the index: "))
print(f"The fibonacci series of the given index {id} is:")

# Initialize an empty list to store the Fibonacci sequence
fib_sequence = []

# if input is 0 then it will print incorrect input
if id < 0:
    print("Incorrect input")
# if n is 0 then it will print 0
elif id == 0:
    fib_sequence.append(0)
elif id == 1:
    fib_sequence.extend([0, 1])  # Extend the list with 0 and 1
elif id == 2:
    fib_sequence.extend([0, 1, 1])  # Extend the list with 0, 1 and 1
else:
    fib_sequence.extend([0, 1])  # Extend the list with 0 and 1
    n1, n2 = 0, 1
    for i in range(2, id + 1):
        temp = n1 + n2
        fib_sequence.append(temp)  # Append the new Fibonacci number to the list
        n1, n2 = n2, temp

# Print the elements of the list
print(*fib_sequence)  # Use * to unpack the list elements for printing

Enter the index: 11
The fibonacci series of the given index 11 is:
0 1 1 2 3 5 8 13 21 34 55 89

In [78]:
n = int(input("Enter the index: "))
fib_lst = [0,1]
if n < 0:
  print("Incorrect input")
elif n == 0:
  print(0)
elif n == 1:
  print(1)
elif n >= 2:
  for i in range(2, n+1):
    fib_lst.append(fib_lst[i-1] + fib_lst[i-2])
  print(f"The fibonacci series of the given index {n} is: {fib_lst}")

Enter the index: 12
The fibonacci series of the given index 12 is: [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144]