<a href="https://colab.research.google.com/github/Simarjit1303/Python-for-data-science-/blob/main/Python_DS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
st = "Michael is a good example: Michael Jordan was a very good basketball player. Howver, he is retired now"
len(st.split(" "))

18

In [11]:
name = "Sai Pawan"
message  = f"The name of the student is {name}"
print(message)

The name of the student is Sai Pawan

In [13]:
name = "Gisma"
message  = f"The name of the university is {name}"
print(message)

The name of the university is Gisma

In [15]:
First_name = "Simarjit"
Last_name = "Singh"
print(f"My name is {First_name} and my surname is {Last_name}")

My name is Simarjit and my surname is Singh

In [18]:
lst = [23, 2, 4, 5, 7, 23, 1, 3, 24, 6, 7, 8, 2, 4, 5, 100]
print(list(set(lst)))

[1, 2, 3, 4, 5, 6, 7, 8, 100, 23, 24]

In [22]:
x = 12
y = 33
if x < y and y % 2 != 0:
  print("Yes")
else:
  print("No")

Yes

In [23]:
x,y = 12,33
status =  "Positive" if x < y and y % 2 != 0 else "Negative"

yes