<a href="https://colab.research.google.com/github/Simarjit1303/Python-for-data-science-/blob/main/Python_Pandas_DS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [13]:
df = pd.read_csv('/content/sample_data/bank_data_with_NaN.csv')
print(df.shape)
df.head(10)

(10000, 13)

,id,last_name,credit_score,country,gender,age,years_customer,balance_euros,num_products,has_credit_card,is_active,salary_euros,retained
0,15634602.0,Hargrave,619.0,Switzerland,f,42.0,2.0,0.00,1.0,1.0,1.0,101348.88,0.0
1,15647311.0,Hill,608.0,Austria,f,41.0,1.0,83807.86,1.0,0.0,1.0,112542.58,1.0
2,15619304.0,Onio,502.0,Switzerland,f,42.0,8.0,159660.80,3.0,1.0,0.0,113931.57,0.0
3,15701354.0,Boni,699.0,Switzerland,f,39.0,1.0,0.00,2.0,0.0,0.0,93826.63,1.0
4,15737888.0,Mitchell,850.0,Austria,f,43.0,2.0,125510.82,1.0,1.0,1.0,79084.10,1.0
5,15574012.0,Chu,645.0,Austria,m,44.0,8.0,113755.78,2.0,1.0,0.0,149756.71,0.0
6,15592531.0,Bartlett,822.0,Switzerland,m,50.0,7.0,0.00,2.0,1.0,1.0,10062.80,NaN
7,15656148.0,Obinna,376.0,Germany,f,29.0,4.0,115046.74,4.0,1.0,0.0,119346.88,0.0
8,15792365.0,He,501.0,Switzerland,m,44.0,4.0,142051.07,2.0,0.0,1.0,74940.50,1.0
9,15592389.0,Hu,684.0,Switzerland,m,27.0,2.0,134603.88,1.0,1.0,1.0,71725.73,1.0